{{#each Tweets}}
  {{#if this.saved}}
  <div>

          <p>{{this.tweetAuthor}}</p>
          <p>{{this.tweetTime}}</p>
          <p>{{this.tweetText}}</p>


            <button class="btn btn-primary makeNote" data-id="{{this._id}}">Create Theory</button>
            <button class="btn btn-primary seeNote" data-id="{{this._id}}">See Theories</button>
            <button class="btn btn-primary removetweet" data-id="{{this._id}}">Remove Tweet</button>

  </div>
  <br>
  {{/if}}
{{/each}}
<div id="notes"></div>
